.card {
  background-color: #ffffff;
  color: #808080;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  overflow: hidden;
  display: flex;
  margin: 30px 10px;
  position: relative;
}

.card-good {
  color: #3910fc;
}

.card-bad {
  color: #fa2300;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
  text-transform: capitalize;
}

.cardTitle {
  padding-left: 15px;
}

.cardData {
  align-items: center;
  padding-left: 15px;
}

.cardData ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.cardData h3 {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.cardButton {
  position: relative;
  right: 0;
}

.cardButton button {
  margin: 10px;
  height: 30px;
  width: 30px;
  font-size: 1.2em;
  border-radius: 50%;
  border: 1px solid #808080;
  background-color: #ffffff;
  color: #808080;
}

.cardButton button:active {
  background-color: #808080;
  color: #ffffff;
}

.cardAddTagButton {
  min-width: 100px;
  max-width: 250px;
}

.cardAddTagButton input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px 0px 0px 6px;
  color: #808080;
  border-right: 0;
  width: 50%;
  min-width: 80px;
  max-width: 200px;
  padding: 8px;
}

.cardAddTagButton button {
  box-sizing: border-box;
  border-radius: 0px 6px 6px 0px;
  padding: 8px;
  border: 1px solid #ccc;
  border-left: 0;
  background-color: #808080;
  color: #ffffff;
}

.cardAddTagButton button:active {
  background-color: #e2e2e2;
  color: #808080;
}

.cardTags {
  margin: 10px 0 10px 0;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 10px;
  border-radius: 8px;
  background-color: #808080;
  color: #ffffff;
  margin-bottom: 5px;
  margin-right: 5px;
}

.chip:hover {
  background-color: #e2e2e2;
  color: #808080;
}

.chipRemove {
  padding-left: 10px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.cardImageHolder {
  display: inline-grid;
}

.cardImage {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}

@media (max-width: 600px) {
  .card {
    display: block;
  }
  .cardImageHolder {
    width: 100%;
  }
}
