.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.paper {
  background-color: #ffffff;
  border-radius: 10px;
  height: 90%;
  position: fixed;
  top: 0;
  margin: 20px;
  padding-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  width: 600px;
}

.scroller {
  overflow-y: auto;
  margin: 10px;
  height: 90%;
}
